body{
    background-color: brown;
}
main section {
    display: flex;
    justify-content: space-around ;
    flex-wrap: wrap;
}
ul{
    display: flex;
    justify-content: flex-end;
    padding: 20px;

}
ul li{
    margin-left: 20px;
}