<nav>
    <ul>
        <li>
            <a href="/home">home</a>
        </li>
        <li>
            <a href="/character/my-fav-characters">favor character</a>
        </li>
        <li>
            <a href="/character/create">create page </a>
        </li>
    </ul>
    <img src="/img/download.png">
</nav>